.styledProgressInput {
  --progress-height: 5px;
  --progress-color: #b672ff;
  --progress-bg-color: #2e2e2e;

  margin: 0;
  width: 100%;
  height: var(--progress-height);
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: transparent;
  position: relative;
  overflow: hidden;
  transition: height 0.2s;

  background: linear-gradient(
    to right,
    var(--progress-color) var(--value),
    var(--progress-bg-color) var(--value)
  );
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--progress-color);
    z-index: 1;
    transition: width 0.2s;
    width: calc((var(--value) / var(--max)) * 100%);
  }
}

.styledProgressInput:hover {
  --progress-height: 8px;
}

/* Стили для WebKit браузеров */
.styledProgressInput::-webkit-slider-runnable-track {
  height: var(--progress-height);
  background: var(--progress-bg-color);
}

.styledProgressInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--progress-color);
  position: relative;
  z-index: 2;
  margin-top: calc((var(--progress-height) - 25px) / 2);
}

/* Стили для Firefox */
.styledProgressInput::-moz-range-track {
  background: var(--progress-bg-color);
  height: var(--progress-height);
}

.styledProgressInput::-moz-range-thumb {
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: var(--progress-color);
}
