.centerblockFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 51px;
  gap: 10px;
}

.filterTitle {
  font-style: normal;
  margin-right: 15px;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.001em;
  text-align: left;
}

.filterWrapper {
  position: relative;
}

.filterListContainer {
  position: absolute;
  padding: 34px;
  border-radius: 12px;
  background: #313131;
  margin-top: 10px;
}

.filterList {
  width: max-content;
  max-height: 305px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: auto;

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #4b4949;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #4b4949;
  }

  &::-webkit-scrollbar-track:active {
    background-color: #4b4949;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #ffffff;
  }
}

.filterItem {
  cursor: pointer;

  &:hover {
    color: #ad61ff;
    text-decoration: underline;
  }
}

._btnText:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

._btnText:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}

.filterButton {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  text-wrap: nowrap;

  &:hover {
    color: #ad61ff;
  }
}
