.playlistWrapper {
  display: flex;
  flex-direction: column;
}

.playlistTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  .playlistCol {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;

    &.col01 {
      width: 447px;
    }

    &.col02 {
      width: 321px;
    }

    &.col03 {
      width: 245px;
    }

    &.col04 {
      width: 60px;
      text-align: end;
    }

    & svg {
      width: 12px;
      height: 12px;
      fill: transparent;
      stroke: #696969;
    }
  }
}

.playlistContent {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: calc(100vh - 460px);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding-right: 8px;
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #4b4949;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #4b4949;
  }

  &::-webkit-scrollbar-track:active {
    background-color: #4b4949;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #ffffff;
  }
}
